@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*{
}

:root {
    --young-serif: 'Young Serif', sans-serif;
    --outfit: 'Outfit', sans-serif;
    --container-background-color: hsl(30, 54%, 90%);
    --main-background-color: hsl(0, 0%, 100%); 
    --prep-background-color: hsl(330, 100%, 98%);
    --prep-h2-color: hsl(332, 51%, 32%);
    --h2-color: hsl(14, 45%, 36%);
    --border-color: hsl(30, 18%, 87%);
}

.container {
    display: grid;
    grid-template-rows: 10fr auto;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--container-background-color);
    overflow: auto;
}

main {
    max-width: 700px;
    width: 90%;
    display: grid;
    grid-template-rows: auto 0.1fr auto auto auto;
    padding: 2%;
    background-color: var(--main-background-color);
    border-radius: 12px;
}

main p {
    font-size: 16px;
}

main h1{
    font-size: 40px;
}

.header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header h1{
    margin-bottom: 10px;
}

.header p{
    margin-top: 0;
}

.prep span{
    font-weight: 700;
}

.header p, .ingredients ul, .instructions ol, .footer table, .footer legend{
    font-family: var(--outfit);
}

.prep {
    font-family: var(--outfit);
    background: var(--prep-background-color);
    border-radius: 12px;
    padding: 2%;
    line-height: 1.5;
}

.prep h2, .prep ul{
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-family: var(--young-serif);
    font-weight: 400;
}

h3, h4, h5 {
    color: var(--h2-color);
    font-family: var(--young-serif);
    margin: 0;
    font-size: 28px;
    font-weight: 400;
}

.prep h2 {
    color: var(--prep-h2-color);
}

.ingredients {
    display: flex;
    flex-direction: column;
  }

.ingredients h3 {
    margin-bottom: 0.5rem;
  }

.ingredients ul {
    padding-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

.ingredients li {
    margin-bottom: 0.5rem;
  }

.instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
  
.instructions ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.instructions h4 {
    margin-left: 0;
    margin-bottom: 10px;
  }

.instructions li {
    margin-bottom: 15px;
}

.instructions span{
    font-weight: 700;
}

.ingredients, .instructions, .footer, .header{
    padding: 2%;
}

.ingredients, .instructions {
    border-bottom: 1px solid var(--border-color);
}

.ingredients ul, .instructions ol, .prep ul{
    padding: 3%;
}

.footer {
    text-align: left;
}

.footer h5 {
    margin-bottom: 0.5rem;
}

.footer table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.footer th, .footer td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color);
  }

.footer td:first-child {
    text-align: left;
}

.footer table tr td:nth-child(2) {
    font-weight: 900;
    color: var(--h2-color);
}

.footer legend{
    margin-bottom: 10px;
}

@media screen and (max-width: 375px) {
    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    main {
        height: 98%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header, .header img{
       border-radius: 0;
       margin: 0;
       padding: 0;
    }
    .ingredients, .prep, .footer,.instructions {
        margin: 4%;
    }
    .header h1, .header p {
        margin: 4%;
    }
}

